.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    .card-loading-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        gap: 2rem;
        width: 100%;
        flex-wrap: wrap;
    }
}